app = "casecommons"
primary_region = "iad"

[env]
  PORT = "8080"
  DATABASE_URL = "sqlite:////data/app.db"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

[deploy]
  release_command = "flask db upgrade"

[[http_service.checks]]
  interval = "15s"
  timeout = "2s"
  grace_period = "10s"
  method = "get"
  path = "/"

[[mounts]]
  source = "data"
  destination = "/data"
